.block-wrapper.MuiContainer-root {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    height: 100%;
    transition: opacity 1s ease-in;
}

.block__list-item {
    font-family: 'Advent Pro';
}

.block-wrapper.block-wrapper--centered {
    justify-content: center;
}

.block-wrapper.block-wrapper--full-screen {
    padding: 0;
    justify-content: space-between;
    max-width: 100%;
}

.block-wrapper .MuiAccordionSummary-content {
    display: block;
}

.block-wrapper .accordion__title {
    font-weight: 600;
    letter-spacing: 0.03em;
}

.block-wrapper .MuiAccordion-root {
    background-color: #FFFFCB;
}

.block-wrapper .MuiAccordionDetails-root strong {
    margin-right: 6px;
}

.block-wrapper .arrow-down {
    height: 50px;
    width: 50px;
    animation: levitate 1s ease-in-out infinite;
}

@keyframes levitate { 
    0% { transform: translateY(-5px); }

    50% { transform: translateY(5px); }

    100% { transform: translateY(-5px); }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .block-wrapper .MuiTypography-h3 {
        font-size: 2.8rem;
    }

    .block-wrapper .MuiTypography-h5 {
        font-size: 1.3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .block-wrapper .MuiTypography-h3 {
        font-size: 4.8rem;
    }

    .block-wrapper .MuiTypography-h4 {
        font-size: 3rem;
    }

    .block-wrapper .MuiTypography-h5 {
        font-size: 2rem;
    }

    .block-wrapper .MuiTypography-body1 {
        font-size: 1.5rem;
    }
}