/* #F06B86 #A28EBE #77C29F #F0D577 #F28061*/
body {
  overflow: hidden;
}

.container {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  transition: background-color 1s ease-in-out;
  font-family: 'Advent Pro';
}

.pink {
  background-color: #F06B86;
}

.purple {
  background-color: #A28EBE;
}

.green {
  background-color: #77C29F;
}

.yellow {
  background-color: #F0D577;
}

.orange {
  background-color: #F28061;
}

h1, h2, h3, h4 {
  font-family: 'Reenie Beanie' !important;
  text-align: center;
}

h5, h6, p {
  font-family: 'Advent Pro' !important;
}